<!DOCTYPE html>
<html lang="en" ng-app = "assetAdminPanel">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>سامانه مدیریت اموال</title>

    <link rel="apple-touch-icon" sizes="180x180" href="panel/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="panel/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="panel/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="panel/images/favicon/manifest.json">
    <link rel="mask-icon" href="panel/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="panel/images/favicon/favicon.ico">
    <meta name="msapplication-config" content="panel/images/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- inject:css -->
    <link rel="stylesheet" href="/vendors/plugins/animatecss/animate.css">
    <link rel="stylesheet" href="/vendors/plugins/nprogress/nprogress.css">
    <link rel="stylesheet" href="/vendors/plugins/dateTimePicker/dist/ADM-dateTimePicker.css">
    <link rel="stylesheet" href="/vendors/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/vendors/plugins/pnotify/dist/pnotify.custom.css">
    <link rel="stylesheet" href="/vendors/plugins/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/dist/css/custom.css">
    <link rel="stylesheet" href="/dist/css/iran-sans.css">
    <!-- endinject -->
  </head>

  <body class="login" ng-controller = "loginCtrl as login">
    <div id="preLoader" class="pre-loader">
      <h3>
        سامانه مدیریت اموال
      </h3>
      <br>
        <i class="fa fa-spinner fa-pulse fa-2x" ></i>
      <br><br>
      <h5>
        در حال بارگذاری ....
      </h5>
    </div>
    <div>
      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form name="loginForm" novalidate>
              <h1>صفحه ی ورود</h1>
              <div>
                <input type="text" class="form-control" placeholder="نام کاربری" ng-model="login.user" required/>
              </div>
              <div>
                <input type="password" class="form-control" placeholder="کلمه عبور" ng-model="login.pass" required/>
              </div>
              <div>
                <button type="button" class="btn btn-default submit" ng-disabled="loginForm.$invalid" ng-click = "login.login()" name="button">
                  ورود
                </button>
              </div>

              <div class="clearfix"></div>
              <div class="separator">
                <div class="clearfix"></div>
                <br />
                <div>
                  <h1><i class="fa fa-home"></i> سامانه مدیریت اموال </h1>
                  <p>©2017 </p>
                </div>
              </div>
            </form>
            <p style="direction:ltr;">
              {{test | json : spacing}}
            </p>
          </section>
        </div>


      </div>
    </div>
    <!-- inject:js -->
    <script src="/config.js"></script>
    <script src="/vendors/base/angular/angular.min.js"></script>
    <script src="/vendors/base/jquery/dist/jquery.js"></script>
    <script src="/vendors/plugins/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/vendors/plugins/angular/angular-cookies.min.js"></script>
    <script src="/vendors/plugins/angular/angular-route.min.js"></script>
    <script src="/vendors/plugins/angular/ngStorage.min.js"></script>
    <script src="/vendors/plugins/ng-upload/ng-file-upload.min.js"></script>
    <script src="/vendors/plugins/nprogress/nprogress.js"></script>
    <script src="/vendors/plugins/skycons/skycons.js"></script>
    <script src="/vendors/plugins/dateTimePicker/dist/ADM-dateTimePicker.js"></script>
    <script src="/vendors/plugins/fastclick/lib/fastclick.js"></script>
    <script src="/vendors/plugins/pnotify/dist/pnotify.custom.js"></script>
    <script src="/vendors/plugins/qcode-decoder-master/build/qcode-decoder.min.js"></script>
    <script src="/dist/js/custom.js"></script>
    <script src="/dist/js/app/app.js"></script>
    <script src="/dist/js/app/base/crud.js"></script>
    <script src="/dist/js/app/base/http.js"></script>
    <script src="/dist/js/app/base/pagination.js"></script>
    <script src="/dist/js/app/controllers/changePassword.js"></script>
    <script src="/dist/js/app/controllers/database.js"></script>
    <script src="/dist/js/app/controllers/guarantor.js"></script>
    <script src="/dist/js/app/controllers/home.js"></script>
    <script src="/dist/js/app/controllers/login.js"></script>
    <script src="/dist/js/app/controllers/logout.js"></script>
    <script src="/dist/js/app/controllers/producer.js"></script>
    <script src="/dist/js/app/controllers/product.js"></script>
    <script src="/dist/js/app/controllers/seller.js"></script>
    <script src="/dist/js/app/controllers/user.js"></script>
    <script src="/dist/js/app/controllers/warehouse.js"></script>
    <!-- endinject -->
  </body>
</html>
