<!DOCTYPE html>
<html lang="en" ng-app = "assetAdminPanel">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>سامانه مدیریت اموال</title>

    <link rel="apple-touch-icon" sizes="180x180" href="panel/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="panel/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="panel/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="panel/images/favicon/manifest.json">
    <link rel="mask-icon" href="panel/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="panel/images/favicon/favicon.ico">
    <meta name="msapplication-config" content="panel/images/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Bootstrap -->
    <link href="vendors/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="vendors/animate.css/animate.min.css" rel="stylesheet">
    <!-- PNotify -->
    <link href="vendors/pnotify/dist/pnotify.custom.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="dist/css/custom.css" rel="stylesheet">
  </head>

  <body class="login" ng-controller = "loginCtrl as login">
    <div>
      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form name="loginForm" novalidate>
              <h1>صفحه ی ورود</h1>
              <div>
                <input type="text" class="form-control" placeholder="نام کاربری" ng-model="login.user" required/>
              </div>
              <div>
                <input type="password" class="form-control" placeholder="کلمه عبور" ng-model="login.pass" required/>
              </div>
              <div>
                <button type="button" class="btn btn-default submit" ng-disabled="loginForm.$invalid" ng-click = "login.login()" name="button">
                  ورود
                </button>
              </div>

              <div class="clearfix"></div>
              <div class="separator">
                <div class="clearfix"></div>
                <br />
                <div>
                  <h1><i class="fa fa-home"></i> سامانه مدیریت اموال </h1>
                  <p>©2017 - تمامی حقوق متعلق به تیم گندم می باشد</p>
                </div>
              </div>
            </form>
            <p style="direction:ltr;">
              {{test | json : spacing}}
            </p>
          </section>
        </div>


      </div>
    </div>

    <!-- jQuery -->
    <script src="vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- PNotify -->
    <script src="../vendors/pnotify/dist/pnotify.custom.js"></script>
    <!-- nprogress -->
    <script src = "vendors/nprogress/nprogress.js"></script>
    <!-- Angular -->
    <script src="vendors/angular/angular.min.js"></script>
    <script src="vendors/angular/angular-route.min.js"></script>
    <script src="vendors/angular/angular-cookies.min.js"></script>
    <script src="vendors/angular/ngStorage.min.js"></script>
    <script src="vendors/ng-upload/ng-file-upload.min.js"></script>

    <!-- App -->
    <script src="config.js"></script>
    <script src="../dist/js/app/app.js"></script>
    <script src="../dist/js/app/base/http.js"></script>
    <script src="../dist/js/app/controllers/login.js"></script>
  </body>
</html>
