<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="fontiran.com:license" content="LZEN3">

    <title>سامانه مدیریت اموال</title>


    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
    <link rel="manifest" href="images/favicon/manifest.json">
    <link rel="mask-icon" href="images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="images/favicon/favicon.ico">
    <meta name="msapplication-config" content="images/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!--
    <link href="../vendors/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="../vendors/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
    <link href="../vendors/pnotify/dist/pnotify.custom.css" rel="stylesheet">
    <link href="../dist/css/custom.css" rel="stylesheet">
    -->

    <!-- inject:css -->
    <link rel="stylesheet" href="/vendors/plugins/animatecss/animate.css">
    <link rel="stylesheet" href="/vendors/plugins/nprogress/nprogress.css">
    <link rel="stylesheet" href="/vendors/plugins/angular-ui-tree-master/dist/angular-ui-tree.css">
    <link rel="stylesheet" href="/vendors/plugins/dateTimePicker/dist/ADM-dateTimePicker.css">
    <link rel="stylesheet" href="/vendors/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/vendors/plugins/pnotify/dist/pnotify.custom.css">
    <link rel="stylesheet" href="/vendors/plugins/bootstrap/dist/css/bootstrap-rtl.css">
    <link rel="stylesheet" href="/vendors/plugins/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/vendors/plugins/lightbox2-master/dist/css/lightbox.css">
    <link rel="stylesheet" href="/dist/css/custom.css">
    <link rel="stylesheet" href="/dist/css/iran-sans.css">
    <!-- endinject -->
  </head>

  <body class="nav-md footer_fixed" ng-app = "assetAdminPanel">
    <div id="preLoader" class="pre-loader">
      <h3>
        سامانه مدیریت اموال
      </h3>
      <br>
        <i class="fa fa-spinner fa-pulse fa-2x" ></i>
      <br><br>
      <h5>
        در حال بارگذاری ....
      </h5>
    </div>
    <div class="container body">
      <div class="main_container">
        <div ng-controller="mainCtrl as main">

        <div class="col-md-3 left_col menu_fixed">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a class="site_title"><i class="fa fa-home"></i> <span>مدیریت اموال</span></a>
            </div>
            <div class="clearfix"></div>
            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <img src="images/img.jpg" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>{{userData.clearance_level | userType}}</span>
                <h2>{{userData.first_name + ' ' + userData.last_name}}</h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu ">
              <div class="menu_section">
                <h3></h3>
                <ul class="nav side-menu">
                <li>
                  <a href="#home">
                    <i class="fa fa-dashboard"></i> پیشخوان
                  </a>
                </li>
                <li>
                  <a href="#mywarehouse" ng-if="userData.clearance_level==1 || userData.clearance_level==2">
                    <i class="fa fa-flag"></i> انبار من
                  </a>
                  <a href="#mywarehouse?pageType=2" ng-if="userData.clearance_level==3">
                      <i class="fa fa-building"></i> انبار ها
                    </a>
                </li>
                <li>
                  <a href="#mywarehouse?pageType=1" ng-if="userData.clearance_level==2">
                    <i class="fa fa-building"></i> سایر انبار ها
                  </a>
                </li>
                  <li ng-if="main.checkPer('user')">
                    <a>
                      <i class="fa fa-user"></i>کاربران <span class="fa fa-chevron-down"></span>
                    </a>
                    <ul class="nav child_menu">
                      <li ng-if="main.checkPer('user')" ng-show=" per.user == 'write' "><a href="#user">مدیریت کاربران</a></li>
                      <li ng-if="main.checkPer('user')" ng-hide=" per.user == 'write' "><a href="#user">مشاهده کاربران</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-edit"></i> اطلاعات <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li ng-if="main.checkPer('warehouse')"><a href="#warehouse">انبار</a></li>
                      <li ng-if="main.checkPer('seller')"><a href="#seller">فروشنده</a></li>
                      <li ng-if="main.checkPer('guarantor')"><a href="#guarantor">گارانتی</a></li>
                      <li ng-if="main.checkPer('producer')"><a href="#producer">تولید کننده</a></li>
                      <li ng-if="main.checkPer('product') && (userData.clearance_level==3 || userData.clearance_level==2)">
                        <a href="#product">کالا</a>
                      </li>
                      <li ng-if="main.checkPer('invoice')"><a href="#invoice">فاکتور </a></li>
                      <li ng-if="main.checkPer('group')"><a href="#group">گروه</a></li>
                      <li ng-if="main.checkPer('transaction')"><a href="#transaction">تراکنش</a></li>
                    </ul>
                  </li>
                  <li ng-if="main.checkPer('db')">
                    <a>
                      <i class="fa fa-database"></i> دیتابیس
                      <span class="fa fa-chevron-down"></span>
                    </a>
                    <ul class="nav child_menu">
                      <li ng-if="main.checkPer('db')"><a href="#database">مدیریت دیتابیس</a></li>
                    </ul>
                  </li>
                  <!--
                  <li><a><i class="fa fa-envelope"></i> تیکت ها <span class="fa fa-chevron-down"></span></a>
                  </li>
                  <li><a><i class="fa fa-bar-chart-o"></i> گزارشات <span class="fa fa-chevron-down"></span></a>

                    <ul class="nav child_menu">
                      <li><a href="chartjs.html">Chart JS</a></li>
                      <li><a href="chartjs2.html">Chart JS2</a></li>
                      <li><a href="morisjs.html">Moris JS</a></li>
                      <li><a href="echarts.html">ECharts</a></li>
                      <li><a href="other_charts.html">Other Charts</a></li>
                    </ul>
                  -->
                  </li>
                </ul>
              </div>


            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <!--
            <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
          -->
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-left">
                
                <li role="presentation" class="dropdown">
                  <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-envelope-o"></i>
                    <!-- <span class="badge bg-green">6</span> -->
                  </a>
                  <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                    <!-- example -->
                    <!-- <li>
                      <a>
                        <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li> -->
                    <li ng-repeat="notif in notifList | limitTo:notifDisplayLimit">
                      <div class="pre-a">
                        <h5>
                          <b> {{notif.title}} </b>
                          <!-- <span class="time">5 دقیقه پیش</span> -->
                        </h5>
                        <span id="{{'msg-'+$index}}" class="message">
                          <!-- {{notif.message}} -->
                        </span>
                      </div>
                    </li>

                    <li>
                      <div class="text-center" style="width:100%">
                        <a href="#notification">
                          <i class="fa fa-angle-left"></i>
                          <strong>نمایش همه ی اعلان ها</strong>
                        </a>
                      </div>
                    </li>
                  </ul>
                </li>
              
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="images/img.jpg" alt="">منوی کاربری
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="#changepass"><i class="fa fa-key pull-left"></i>تغییر کلمه عبور</a></li>
                    <li><a href="../logout.html"><i class="fa fa-sign-out pull-left"></i> خروج</a></li>
                  </ul>
                </li>
                
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->
      </div>

        <!-- page content -->
        <div class="right_col" role="main">
          <ng-view></ng-view>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer class = "panel-footer">
          <div class="pull-left">
            <a target="_blank" href="http://gandom.co">گندم</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>
    <!-- inject:js -->
    <script src="/config.js"></script>
    <script src="/vendors/base/angular/angular.min.js"></script>
    <script src="/vendors/base/jquery/dist/jquery.js"></script>
    <script src="/vendors/plugins/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/vendors/plugins/lightbox2-master/dist/js/lightbox.js"></script>
    <script src="/vendors/plugins/angular/angular-cookies.min.js"></script>
    <script src="/vendors/plugins/angular/angular-route.min.js"></script>
    <script src="/vendors/plugins/angular/ngStorage.min.js"></script>
    <script src="/vendors/plugins/angular-persian/aapersian.js"></script>
    <script src="/vendors/plugins/angular-persian/angularpersian.js"></script>
    <script src="/vendors/plugins/momentjs/amoment.js"></script>
    <script src="/vendors/plugins/ng-upload/ng-file-upload.min.js"></script>
    <script src="/vendors/plugins/nprogress/nprogress.js"></script>
    <script src="/vendors/plugins/skycons/skycons.js"></script>
    <script src="/vendors/plugins/angular-ui-tree-master/dist/angular-ui-tree.js"></script>
    <script src="/vendors/plugins/dateTimePicker/dist/ADM-dateTimePicker.js"></script>
    <script src="/vendors/plugins/fastclick/lib/fastclick.js"></script>
    <script src="/vendors/plugins/marked/lib/marked.js"></script>
    <script src="/vendors/plugins/pnotify/dist/pnotify.custom.js"></script>
    <script src="/vendors/plugins/qcode-decoder-master/build/qcode-decoder.min.js"></script>
    <script src="/dist/js/custom.js"></script>
    <script src="/dist/js/app/app.js"></script>
    <script src="/dist/js/app/base/crud.js"></script>
    <script src="/dist/js/app/base/directive.js"></script>
    <script src="/dist/js/app/base/http.js"></script>
    <script src="/dist/js/app/controllers/changePassword.js"></script>
    <script src="/dist/js/app/controllers/database.js"></script>
    <script src="/dist/js/app/controllers/group.js"></script>
    <script src="/dist/js/app/controllers/guarantor.js"></script>
    <script src="/dist/js/app/controllers/home.js"></script>
    <script src="/dist/js/app/controllers/invoice.js"></script>
    <script src="/dist/js/app/controllers/login.js"></script>
    <script src="/dist/js/app/controllers/logout.js"></script>
    <script src="/dist/js/app/controllers/main.js"></script>
    <script src="/dist/js/app/controllers/mywarehouse.js"></script>
    <script src="/dist/js/app/controllers/notification.js"></script>
    <script src="/dist/js/app/controllers/producer.js"></script>
    <script src="/dist/js/app/controllers/product.js"></script>
    <script src="/dist/js/app/controllers/seller.js"></script>
    <script src="/dist/js/app/controllers/ticket.js"></script>
    <script src="/dist/js/app/controllers/transaction.js"></script>
    <script src="/dist/js/app/controllers/user.js"></script>
    <script src="/dist/js/app/controllers/warehouse.js"></script>
    <!-- endinject -->

  </body>
</html>
